__pycache__/
*.pyc
.DS_Store
assets/cover/**
!assets/cover/
!assets/cover/21220/
!assets/cover/21220/hr_align_img.png
!assets/cover/21220/geo.png
!assets/cover/21220/r00.png
!assets/cover/zakeboge/
!assets/cover/zakeboge/align.png
!assets/cover/zakeboge/hr_align_img.png
!assets/cover/zakeboge/geo.png
!assets/cover/zakeboge/geo_n.png
!assets/cover/zakeboge/r00.png
!assets/cover/zakeboge/r00_n.png
!assets/cover/res_1768932471/
!assets/cover/res_1768932471/hr_align_img.png
!assets/cover/res_1768932471/geo.png
!assets/cover/res_1768932471/r00.png
!assets/cover/res_1768655527/
!assets/cover/res_1768655527/hr_align_img.png
!assets/cover/res_1768655527/geo.png
!assets/cover/res_1768655527/geo_n.png
!assets/cover/res_1768655527/render.png
!assets/cover/res_1768655527/r011_n.png
