__pycache__/
*.pyc
.DS_Store
assets/cover/**
!assets/cover/
!assets/cover/21220/
!assets/cover/21220/hr_align_img.png
!assets/cover/21220/geo.png
!assets/cover/21220/r00.png
!assets/cover/zakeboge/
!assets/cover/zakeboge/hr_align_img.png
!assets/cover/zakeboge/geo.png
!assets/cover/zakeboge/r00.png
!assets/cover/res_1768932471/
!assets/cover/res_1768932471/hr_align_img.png
!assets/cover/res_1768932471/geo.png
!assets/cover/res_1768932471/r00.png
